<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='container'>
		<a href="/books">Home</a>
		<a href="/logout">Logout</a><br>
		<a href="/books/add"> Add Book and Review </a>
		<h5>User Alias: {{user.alias}}</h5>
		<p>Name: {{user.name}}</p>
		<p>Email: {{user.email}}</p>
		<p>Total Reviews: {{count}}</p>
		<p>Posted Reviews on the following books:</p>
		{% for x in reviews %}
		<div>
			<a href="/books/{{x.book.id}}">{{x.book.title}}</a>
		</div>
		{% endfor %}
	</div>
</body>
</html>